<div class="container-fluid login">
    <form [formGroup]="loginForm" (submit)="onLogin()">
        <div class="form-group py-lg-2">
            <label for="userEmail" class="form-label">Email</label>
            <input type="text" id="userEmail" class="form-control" formControlName="userEmail">
        </div>
        <div class="form-group py-lg-2">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password">
        </div>
        <p>New to lets-shop?<a routerLink="/signup"> Sign up</a></p>
        <button class="btn btn-primary">Login</button>
    </form>
</div>